<mat-stepper orientation="vertical" #stepper>
  <mat-step [stepControl]="form">
    <form class="ticket-form" [formGroup]="form">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <div>
        <mat-form-field>
          <mat-label>User</mat-label>
          <input matInput aria-label="User" [matAutocomplete]="auto" [formControl]="userCtrl"
            formControlName="userCtrlName">
          <mat-autocomplete #auto="matAutocomplete">

            @for (user of filteredUsers | async; track user) {
            <mat-option [value]="user.lastname">
              <!--  TODO icon for user -->

              <span>{{user.firstname}} {{user.lastname}}</span>

            </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>

      </div>
      <div>
        <button color="accent" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="form" label="How can we help you?">
    <form class="ticket-form" [formGroup]="form">
      <div>
        <mat-form-field class="full-width">
          <mat-label>Title</mat-label>
          <input matInput formControlName="titleCtrl" placeholder="Title" required>
        </mat-form-field>
      </div>
      <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <textarea class="full-width" matInput formControlName="descriptionCtrl" rows="5" placeholder="How can we help you?"
          required></textarea>
      </mat-form-field>

      <div>
        <button color="accent" mat-button matStepperPrevious>Back</button>
        <button color="accent" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button color="accent" mat-button matStepperPrevious>Back</button>
      <button color="accent" mat-button (click)="stepper.reset()">Reset</button>
      <button color="accent" mat-button (click)="onSubmit()" [disabled]="form.invalid">Submit</button>
    </div>
  </mat-step>
</mat-stepper>