<mat-toolbar color="basic">
  <mat-toolbar-row>
    <span>Ticket App By Breuer</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container class="example-container">



  <mat-sidenav opened mode="side">


        <mat-form-field appearance="outline" class="searchbar">
          <mat-label class="label-search">
            Search
          </mat-label>
          <div class="items-search">
            <input class="input-search" matInput>
            <button class="button-search" mat-mini-fab color="basic" aria-label="Example icon button with a menu icon">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </mat-form-field>
      <mat-divider></mat-divider>
        <mat-tab-group>
          <mat-tab label="History">
            <mat-selection-list #tickets>
              <mat-action-list></mat-action-list>
              @for (ticket of ticketsViewed; track ticket){

              <mat-list-item><a> {{ticket}} </a></mat-list-item>
              <mat-divider></mat-divider>
              }

            </mat-selection-list>

          </mat-tab>
          <mat-tab label="New"> Content 2 </mat-tab>
        </mat-tab-group>



  </mat-sidenav>
  <div>
    <ng-container *ngIf="currentPage === 'dashboard'">
    <ng-container *ngTemplateOutlet="dashboardComponent"> </ng-container>
    </ng-container>
  </div>
  <ng-template #dashboardComponent>
    <app-dashboard></app-dashboard>
  </ng-template>
</mat-sidenav-container>