<mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
                <p>Verwalten sie ihrer Tickets</p>
                <a routerLink="/ticket-overview">Ticket App</a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
                <p>Verwalten sie ihre Projekte</p>
                <a routerLink="/project-dashboard">Projekt App</a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-fab routerLink="/ticket-create" extended color="basic">
            <p>Create Ticket</p>

        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-fab extended color="basic">
            <p>Your Tickets</p>

        </button>
    </mat-grid-tile>
</mat-grid-list>